# Environment variables
.env
.env.*

# Python cache and virtual environments
__pycache__/
*.pyc
.venv/
venv/
env/

# Cache folder
cache/
*.cache

# Logs and temp files
*.log
*.tmp

# IDE and OS specific
.DS_Store
.vscode/
.idea/

# other Folders not needed
FDA_DATA/
FDA_TH/
FDA_TH_in/
syncher_keys.py
ASV/
corpus_db/
corpus_dictionaries/
corpus_logs/
corpus_orphanet/
corpus_sas/
documents*/
ESE-Admin/
pubmed/
Read.K
ctis-out/
EU_ERN_DATA/
EU_ERN_DATA_in/
EU_guidelines_library/
FDA_guidance_library/
Pdfs/
ouput_datasources/